body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button {
    margin-bottom: 10px;
}

.container {
    display: flex;
    height: 900px;
    width: 900px;
    flex-wrap: wrap;
    border: 5px solid black;
}

.box {
    outline: 1px solid #6666665b;
    box-sizing: border-box;
}